@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    padding-left: 2em;
    padding-right: 2em;
}

h1{
    background-color: lightseagreen;
    padding: 1em;
}

#quiz{
    background-image: url("../images/bk-ninja.svg");
    background-size: cover;
}

#quiz h2{
    background-color: white;
    text-align: center;
}

.quiz-body{
    background: rgba(255,255,255,1);
    margin: 150px 33%;
    padding: 10px 20px 50px 20px;
    -webkit-box-shadow: 4px 4px 11px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 4px 11px 3px rgba(0,0,0,0.3);
    box-shadow: 4px 4px 11px 3px rgba(0,0,0,0.3);
}

  button {
    color: #ffffff;
    background-color: #611BBD;
    border-color: #130269;
    border-radius: 4px;
    margin: 0.2em 0;
    display: block;
    width: 100%;
    font-size: 24px;
  }

  #question {
   font-size: 24px;
  }
  
  #result{
    color: #fff;
    margin: 0.2em 0;
    width: 100%;
    text-align: center;
  }
  .correct {
      background-color: #0c0;
  }
  .wrong {
    color: #fff;
    background-color: #c00;
  }

  .error{
    background: #f99;
    border: #900 1px solid;
    display: none;
}
